.widget-container {
  position: relative;
  min-height: 150px;
  background: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  &.danger {
    background: rgba(240, 106, 106, 0.45);
    color: white;
  }
  &.fluid-height {
    height: auto;
    min-height: 0;
  }
  &.small {
    min-height: 120px;
    height: 200px;
  }
  &.gallery {
    min-height: 400px;
  }
  a {
    color: inherit;
    text-decoration: none;
    :hover {
      background-color: #b2cecf;
    }
  }
  .heading {
    height: 50px;
    padding: 15px 15px;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin: 0;
    [class^="fa-"], [class*="fa-"] {
      margin-right: 10px;
      font-size: 14px;
    }
    [class^="fa-"].pull-right, [class*="fa-"].pull-right {
      margin-right: 0px;
      margin-left: 15px;
      opacity: 0.35;
      font-size: 1.1em;
    }
    [class^="fa-"]:hover, [class*="fa-"]:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .tabs {
    background: whitesmoke;
    border-bottom: 1px solid #dddddd;
  }
  .widget-content {
    width: 100%;
    p {
      font-size: 14px;
      text-align: left;
      margin-bottom: 2px;
    }
  }
  &.scrollable {
    position: relative;
    height: 250px;
    &.chat-home {
      height: 427px;
    }
    .heading {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .shadow {
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    }
    .widget-content {
      height: 100%;
      position: relative;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.padded {
  padding: 15px;
}

.perfect_list {
  li {
    border: 1px solid #C7C7C7;
    padding: 10px;
    margin-bottom: 8px;
    table {
      margin: 0;
      border: 0;
      width: 100%;
    }
    .description {
      color: #aaaaaa;
      font-size: 13px;
      a {
        color: #9a9a9a;
        &:hover {
          color: #007aff;
        }
      }
    }
  }
}

.suggest_item {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.suggest_item:hover {
  background-color: #f6f5f7
}

